.hover-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-lift:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.pet-card {
  cursor: pointer;
  overflow: hidden;
}

.pet-card-img {
  height: 250px;
  object-fit: cover;
}

.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}


.custom-carousel {
  max-height: 400px; /* Set the fixed height */
  overflow: hidden; /* Ensures no content overflows */
}

.custom-carousel img,
.custom-carousel video {
  height: 100%; /* Ensures the media fits within the container */
  object-fit: cover; /* Maintains aspect ratio and fills the container */
}
